@inherits LayoutComponentBase

@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject SignOutSessionStateManager SignOutManager
@inject NavigationManager Navigation
@inject HttpClient httpClient

<MudThemeProvider Theme="currentTheme" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>

    <MudAppBar Elevation="25">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudText Typo="Typo.h5">Azure IoT Hub Portal</MudText>
        <MudSpacer />
        <AuthorizeView>
            <Authorized>
                <MudMenu FullWidth="true" Direction="Direction.Bottom" ActivationEvent="@MouseEvent.MouseOver" OffsetY="true">
                    <ActivatorContent>
                        <MudChip Icon="@Icons.Material.Filled.AccountCircle" Label="true" Color="Color.Secondary" Variant="Variant.Filled">@context.User.Identity.Name</MudChip>
                    </ActivatorContent>
                    <ChildContent>
                        <MudMenuItem>Details</MudMenuItem>
                        <MudMenuItem><a href="#" @onclick="BeginLogout">Log out</a></MudMenuItem>
                    </ChildContent>
                </MudMenu>
            </Authorized>
            <NotAuthorized>
                <MudChip Icon="@Icons.Material.Filled.Login" Label="true" Color="Color.Secondary" Variant="Variant.Filled" @onclick="BeginLogin">Log in</MudChip>
            </NotAuthorized>
        </AuthorizeView>
    </MudAppBar>

    <MudDrawer @bind-Open="_drawerOpen" Elevation="25" ClipMode="DrawerClipMode.Always">
        <NavMenu activateLoRaFeature="@activateLoRaFeature" />
    </MudDrawer>

    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.False" Class="mt-4" Style="margin-bottom: 70px">
            @Body
        </MudContainer>
    </MudMainContent>

    <MudAppBar id="footer" Elevation="1" Style="top: auto; bottom: 0;" Dense="true">
        <MudGrid Justify="Justify.Center">
            <MudText Style="font-size:small">© 2021 Copyright:&nbsp; CGI France</MudText>
        </MudGrid>
    </MudAppBar>
</MudLayout>

@code {
    public bool _drawerOpen = true;
    public bool activateLoRaFeature;

    protected async override void OnInitialized()
    {
        activateLoRaFeature = await this.httpClient.GetFromJsonAsync<bool>("api/settings/lora");
    }

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    private async Task BeginLogout(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }

    private void BeginLogin(MouseEventArgs args)
    {
        Navigation.NavigateTo("authentication/login");
    }

    MudTheme currentTheme = new MudTheme()
        {
            Palette = new Palette()
            {

                Background = "#efefef"
            }
        };
}