@page "/device-models/{ModelID}"
@using System.Net.Http.Headers
@using IoTHub.Portal.Client.Pages.DeviceModels
@using IoTHub.Portal.Client.Validators
@using IoTHub.Portal.Shared.Models
@using IoTHub.Portal.Shared.Models.v1._0
@using IoTHub.Portal.Shared.Models.v1._0.LoRaWAN

@attribute [Authorize]
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar
@inject IDialogService DialogService
@inject IDeviceModelsClientService DeviceModelsClientService
@inject ILoRaWanDeviceModelsClientService LoRaWanDeviceModelsClientService
@inject PortalSettings Portal

<MudTooltip Text="Return" Placement="Placement.Left">
    <MudFab StartIcon="@Icons.Material.Outlined.ArrowBack" Color="Color.Secondary" Size="Size.Small" OnClick="Return" id="returnButton" />
</MudTooltip>
<MudTooltip Placement="Placement.Top">
    <MudText Typo="Typo.h5" Color="Color.Primary" Class="mb-4">  Device Model</MudText>
</MudTooltip>

<MudForm Model="@Model" @ref="form" id="form">
    <MudGrid>
        <MudItem xs="12" sm="4" md="3">
            <MudCard>
                <MudCardContent>
                    <div class="d-flex justify-center mb-4">
                        <MudAvatar Image="@imageDataUrl" Style="height:100px; width: auto; border-radius: 0; background: transparent " />
                    </div>
                </MudCardContent>
                <MudCardActions Class="d-flex justify-center">
                    @if (imageDataUrl != null)
                    {
                        <MudButton OnClick="DeleteAvatar" Color="Color.Error" Disabled="Model.IsBuiltin">Delete Picture</MudButton>
                    }
                    else
                    {
                        <InputFile id="fileInput" hidden accept=".jpg, .jpeg, .png" OnChange="UploadFiles" />
                        <MudButton HtmlTag="label" for="fileInput" Color="Color.Primary" StartIcon="@Icons.Material.Filled.CloudUpload" Disabled="Model.IsBuiltin">Change Picture</MudButton>
                    }
                </MudCardActions>
            </MudCard>
            <MudItem xs="12" Class="d-flex justify-space-around py-2 px-1 mt-4">
                <MudButton Variant="Variant.Filled" Class="mx-1" Color="Color.Error" OnClick="DeleteDeviceModel" id="deleteButton" Disabled="isProcessing">Delete model</MudButton>
                <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Save" id="saveButton" Disabled="isProcessing">Save Changes</MudButton>
            </MudItem>
        </MudItem>
        <MudItem xs="12" sm="8" md="9">
            <MudTabs Elevation="1" Rounded="true" PanelClass="mt-6 scrollable-tab-content">
                <MudTabPanel Text="General" Style=@(this.CheckGeneralValidation() ? "color: red": "")>
                    <MudExpansionPanels MultiExpansion="true" id="general">
                        <MudGrid>
                            <MudItem xs="12">
                                <MudExpansionPanel Text="Details" IsInitiallyExpanded="true">
                                    <TitleContent><MudText Typo="Typo.h6">Details</MudText></TitleContent>
                                    <ChildContent>
                                        <MudGrid>
                                            <MudItem xs="12" md="6">
                                                <MudTextField id="@nameof(Model.Name)" @bind-Value="@Model.Name" For="@(() => Model.Name)" Label="Name" Margin="Margin.Dense" Variant="Variant.Outlined" Required="true" Disabled="@(Model.IsBuiltin || Portal.CloudProvider.Equals("AWS"))" />
                                            </MudItem>
                                            <MudItem xs="12" md="6">
                                                <MudTextField id="@nameof(Model.Description)" @bind-Value="@Model.Description" For="@(() => Model.Description)" Label="Description" Variant="Variant.Outlined" Lines="5" Disabled="@(Model.IsBuiltin || Portal.CloudProvider.Equals("AWS"))" />
                                            </MudItem>
                                        </MudGrid>
                                    </ChildContent>
                                </MudExpansionPanel>
                            </MudItem>
                        </MudGrid>
                        @if (!IsLoRa)
                        {
                            <MudGrid>
                                <MudItem xs="12">
                                    <MudExpansionPanel Text="Properties">
                                        <TitleContent><MudText Typo="Typo.h6">Properties</MudText></TitleContent>
                                        <ChildContent>
                                            <MudItem xs="12">
                                                <MudButton Variant="Variant.Text" Color="Color.Primary" OnClick="@(() => Properties.Add(new DeviceProperty() {  Order = Properties.Select(x => x.Order).Next() }))" StartIcon="@Icons.Material.Filled.Add" id="addPropertyButton">Add property</MudButton>
                                            </MudItem>
                                            <MudItem xs="12">
                                                @foreach (var item in this.Properties.OrderBy(x => x.Order))
                                                {
                                                    <MudGrid id="@($"property-{item.Name}")">
                                                        <MudItem md="4" xs="12">
                                                            <MudTextField id="@nameof(item.DisplayName)"
                                                                  @bind-Value="@item.DisplayName"
                                                                  Label="Display name"
                                                                  Variant="Variant.Outlined"
                                                                  For="@(()=> item.DisplayName)"
                                                                  Required="true" />
                                                        </MudItem>
                                                        <MudItem md="3" xs="12">
                                                            <MudTextField id="@nameof(item.Name)" @bind-Value="@item.Name"
                                                                  Label="Name"
                                                                  Variant="Variant.Outlined"
                                                                  For="@(()=> item.Name)"
                                                                  Required="true" />
                                                        </MudItem>
                                                        <MudItem md="1" xs="12">
                                                            <MudNumericField id="@nameof(item.Order)"
                                                                     @bind-Value="@item.Order"
                                                                     Label="Order"
                                                                     Variant="Variant.Outlined"
                                                                     Min=0
                                                                     For="@(()=> item.Order)"
                                                                     Required="true" />
                                                        </MudItem>
                                                        <MudItem md="2" xs="6">
                                                            <MudSelect id="@nameof(item.PropertyType)"
                                                               @bind-Value="@item.PropertyType"
                                                               Label="Type"
                                                               Variant="Variant.Outlined"
                                                               For="@(()=> item.PropertyType)"
                                                               Required="true">
                                                                @foreach (DevicePropertyType item in Enum.GetValues(typeof(DevicePropertyType)))
                                                                {
                                                                    <MudSelectItem Value="@item">@item</MudSelectItem>
                                                                }
                                                            </MudSelect>
                                                        </MudItem>
                                                        <MudItem md="1" xs="3">
                                                            <MudSwitch id="@nameof(item.IsWritable)" @bind-Checked="@item.IsWritable" Color="Color.Secondary" />
                                                            <MudInputLabel>Writable</MudInputLabel>
                                                        </MudItem>
                                                        <MudItem md="1" xs="3">
                                                            <MudIconButton id="DeletePropertyButton" Icon="@Icons.Material.Filled.Delete" OnClick="@(() => Properties.Remove(item))">Remove</MudIconButton>
                                                        </MudItem>
                                                    </MudGrid>
                                                }
                                            </MudItem>
                                        </ChildContent>
                                    </MudExpansionPanel>
                                </MudItem>
                            </MudGrid>
                        }

                        <MudGrid>
                            <MudItem xs="12">
                                <MudExpansionPanel Text="Labels">
                                    <TitleContent><MudText Typo="Typo.h6">Labels</MudText></TitleContent>
                                    <ChildContent>
                                        <LabelsEditor Labels="Model.Labels" />
                                    </ChildContent>
                                </MudExpansionPanel>
                            </MudItem>
                        </MudGrid>

                    </MudExpansionPanels>
                </MudTabPanel>
                @if (IsLoRa)
                {
                    <MudTabPanel Text="LoRaWAN" Style=@(this.CheckLoRaValidation() ? "color: red": "")>
                        <EditLoraDeviceModel LoRaDeviceModel="@(Model as LoRaDeviceModelDto)"
                                         Commands="Commands" />
                    </MudTabPanel>
                }
            </MudTabs>
        </MudItem>
    </MudGrid>
</MudForm>

@code {
    [CascadingParameter]
    public Error Error { get; set; } = default!;

    [Parameter]
    public string ModelID { get; set; } = default!;

    private bool isProcessing;

    private MudForm form = default!;

    private void Return() => NavigationManager.NavigateTo("/device-models");

    private DeviceModelValidator standardValidator = new DeviceModelValidator();
    private LoRaDeviceModelValidator loraValidator = new LoRaDeviceModelValidator();
    private DevicePropertyValidator propertiesValidator = new DevicePropertyValidator();

    private List<DeviceModelCommandDto> Commands { get; set; } = new List<DeviceModelCommandDto>();
    private List<DeviceProperty> Properties { get; set; } = new List<DeviceProperty>();

    private LoRaDeviceModelCommandValidator CommandValidator = new LoRaDeviceModelCommandValidator();

    [Parameter]
    [SupplyParameterFromQuery]
#pragma warning disable BL0007
    public bool IsLoRa
    {
        get
        {
            return this.Model is LoRaDeviceModelDto;
        }
        set
        {
            if (value)
            {
                this.SetLoRaDeviceModel();
                return;
            }

            SetStandardDeviceModel();
        }
    }
#pragma warning restore BL0007

    private void SetLoRaDeviceModel() => Model = new LoRaDeviceModelDto(Model);

    private void SetStandardDeviceModel() => Model = new DeviceModelDto
        {
            ModelId = Model.ModelId,
            Name = Model.Name,
            IsBuiltin = Model.IsBuiltin,
            Description = Model.Description
        };

    private IDeviceModel Model { get; set; } = new DeviceModelDto
        {
            ModelId = Guid.NewGuid().ToString()
        };

    // Used to manage the picture
    private MultipartFormDataContent? content = default!;
    private string? imageDataUrl = default!;

    private bool CheckLoRaValidation()
    {
        if (IsLoRa && this.Model is LoRaDeviceModelDto loRaDeviceModel)
        {
            return !this.loraValidator.Validate(loRaDeviceModel).IsValid;
        }

        return true;
    }

    private bool CheckGeneralValidation()
    {
        if (!IsLoRa && this.Model is DeviceModelDto deviceModel)
        {
            return !this.standardValidator.Validate(deviceModel).IsValid;
        }

        return CheckLoRaValidation();
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            isProcessing = true;

            if (IsLoRa)
            {
                Model = await LoRaWanDeviceModelsClientService.GetDeviceModel(ModelID);
                Commands.AddRange(await LoRaWanDeviceModelsClientService.GetDeviceModelCommands(ModelID));
                imageDataUrl = await LoRaWanDeviceModelsClientService.GetAvatarUrl(ModelID);
            }
            else
            {
                Model = await DeviceModelsClientService.GetDeviceModel(ModelID);
                Properties.AddRange(await DeviceModelsClientService.GetDeviceModelModelProperties(ModelID));
                imageDataUrl = await DeviceModelsClientService.GetAvatarUrl(ModelID);
            }
        }
        catch (ProblemDetailsException exception)
        {
            Error?.ProcessProblemDetails(exception);
        }
        finally
        {
            isProcessing = false;
        }
    }

    private void DeleteAvatar()
    {
        content = null;
        imageDataUrl = null;
    }

    private async Task UploadFiles(InputFileChangeEventArgs e)
    {
        content = new MultipartFormDataContent();

        var resizedImageFile = await e.File.RequestImageFileAsync(e.File.ContentType, 200, 200);

        var fileContent = new StreamContent(resizedImageFile.OpenReadStream());
        fileContent.Headers.ContentType = new MediaTypeHeaderValue(e.File.ContentType);

        content.Add(content: fileContent,
                      name: "\"file\"",
                      fileName: e.File.Name);

        var buffer = new byte[resizedImageFile.Size];
        await resizedImageFile.OpenReadStream().ReadAsync(buffer);

        imageDataUrl = $"data:{e.File.ContentType};base64,{Convert.ToBase64String(buffer)}";
    }

    private async Task Save()
    {
        isProcessing = true;

        // Used to check commands
        bool duplicated = false;
        bool cmdValidationError = false;

        if (IsLoRa)
        {
            // Check duplicates in command name
            var query = Commands.GroupBy(x => x.Name)
                        .Where(x => x.Count() > 1)
                        .Select(x => x.Key)
                        .ToList();
            foreach (var item in query)
            {
                Snackbar.Add($"The command '{item}' appears more than once!", Severity.Warning);
                duplicated = true;
            }

            // Check validation error in commands
            foreach (var cmd in Commands)
            {
                if (!CommandValidator.Validate(cmd).IsValid)
                    cmdValidationError = true;
            }
        }

        if (!IsLoRa ? !standardValidator.Validate((Model as DeviceModelDto)!).IsValid :
            (!this.loraValidator.Validate((this.Model as LoRaDeviceModelDto)!).IsValid
            || duplicated
            || cmdValidationError))
        {
            Snackbar.Add("One or more validation errors occurred", Severity.Error);

            propertiesValidator.Validate(Properties).Errors.ForEach(x =>
                Snackbar.Add(x.ErrorMessage, Severity.Warning)
            );

            isProcessing = false;

            return;
        }

        try
        {
            if (IsLoRa)
            {
                await LoRaWanDeviceModelsClientService.UpdateDeviceModel((Model as LoRaDeviceModelDto)!);

                await LoRaWanDeviceModelsClientService.SetDeviceModelCommands(Model.ModelId, Commands);
            }
            else
            {
                await DeviceModelsClientService.UpdateDeviceModel((Model as DeviceModelDto)!);

                await DeviceModelsClientService.SetDeviceModelModelProperties(Model.ModelId, Properties);
            }

            if (content is not null)
            {
                if (IsLoRa)
                {
                    await LoRaWanDeviceModelsClientService.ChangeAvatar(Model.ModelId, content);
                }
                else
                {
                    await DeviceModelsClientService.ChangeAvatar(Model.ModelId, content);
                }
            }

            Snackbar.Add("Device model successfully updated.", Severity.Success);

            // Go back to the list of devices models
            NavigationManager.NavigateTo("device-models");
        }
        catch (ProblemDetailsException exception)
        {
            Error?.ProcessProblemDetails(exception);
        }
        finally
        {
            isProcessing = false;
        }

    }

    private async Task DeleteDeviceModel()
    {
        isProcessing = true;

        var parameters = new DialogParameters
        {
            {"deviceModelID", Model.ModelId},
            {"deviceModelName", Model.Name}
        };
        var result = await DialogService.Show<DeleteDeviceModelPage>("Confirm Deletion", parameters).Result;

        isProcessing = false;

        if (result.Canceled)
        {
            return;
        }

        // Go back to the list of devices after the deletion
        NavigationManager.NavigateTo("device-models");
    }
}
