@using System.Text
@using IoTHub.Portal.Shared.Models.v1._0

@inject ClipboardService ClipboardService
@inject IDeviceClientService DeviceClientService
@inject IJSRuntime JS

<div class="ConnectionString-dialog">
    <MudDialog>
        <DialogContent>
            <MudCard Outlined="true">
                <MudCardContent>
                    <MudGrid>
                        @if (credentials.AuthenticationMode != null && AuthenticationMode.SymmetricKey.Equals(credentials.AuthenticationMode))
                        {
                            @if (credentials.SymmetricCredentials != null)
                            {
                                <MudItem xs="12">
                                    <MudText Style="text-decoration:underline"><b>Service Endpoint</b></MudText>
                                    <MudTextField @bind-Value="@credentials.SymmetricCredentials.ProvisioningEndpoint" Class="mt-0" Variant="Variant.Text" Margin="Margin.Dense" ReadOnly="true" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.ContentCopy" OnAdornmentClick="@(() => ClipboardService.WriteTextAsync(credentials.SymmetricCredentials.ProvisioningEndpoint))"/>
                                </MudItem>
                                <MudItem Class="mt-0" xs="12">
                                    <MudText Style="text-decoration:underline"><b>Registration Id</b></MudText>
                                    <MudTextField @bind-Value="@credentials.SymmetricCredentials.RegistrationID" Class="mt-0" Variant="Variant.Text" Margin="Margin.Dense" ReadOnly="true" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.ContentCopy" OnAdornmentClick="@(() => ClipboardService.WriteTextAsync(credentials.SymmetricCredentials.RegistrationID))"/>
                                </MudItem>
                                <MudItem Class="mt-0" xs="12">
                                    <MudText Style="text-decoration:underline"><b>Scope Id</b></MudText>
                                    <MudTextField @bind-Value="@credentials.SymmetricCredentials.ScopeID" Class="mt-0" Variant="Variant.Text" Margin="Margin.Dense" ReadOnly="true" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.ContentCopy" OnAdornmentClick="@(() => ClipboardService.WriteTextAsync(credentials.SymmetricCredentials.ScopeID))"/>
                                </MudItem>
                                <MudItem Class="mt-0" xs="12">
                                    <MudText Style="text-decoration:underline"><b>Symmetric Key</b></MudText>
                                    <MudTextField @bind-Value="@credentials.SymmetricCredentials.SymmetricKey" Variant="Variant.Text" InputType="InputType.Password" Margin="Margin.Dense" ReadOnly="true" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.ContentCopy" OnAdornmentClick="@(() => ClipboardService.WriteTextAsync(credentials.SymmetricCredentials.SymmetricKey))"/>
                                </MudItem>
                            }
                        }
                        else
                        {
                            @if (credentials.CertificateCredentials != null)
                            {
                                <MudItem xs="12">
                                    <MudText Style="text-decoration:underline"><b>Certificate Pem</b></MudText>
                                    <MudTextField @bind-Value="@credentials.CertificateCredentials.CertificatePem" Class="mt-0" Variant="Variant.Text" Margin="Margin.Dense" ReadOnly="true" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Download" OnAdornmentClick="DownloadPemFile"/>
                                </MudItem>
                                <MudItem Class="mt-0" xs="12">
                                    <MudText Style="text-decoration:underline"><b>Public Key</b></MudText>
                                    <MudTextField @bind-Value="@credentials.CertificateCredentials.PublicKey" Class="mt-0" Variant="Variant.Text" Margin="Margin.Dense" ReadOnly="true" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Download" OnAdornmentClick="DownloadPublicKeyFile"/>
                                </MudItem>
                                <MudItem Class="mt-0" xs="12">
                                    <MudText Style="text-decoration:underline"><b>Private Key</b></MudText>
                                    <MudTextField @bind-Value="@credentials.CertificateCredentials.PrivateKey" Class="mt-0" Variant="Variant.Text" Margin="Margin.Dense" ReadOnly="true" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Download" OnAdornmentClick="DownloadPrivateKeyFile"/>
                                </MudItem>
                            }
                        }
                    </MudGrid>
                </MudCardContent>
            </MudCard>
        </DialogContent>
        <DialogActions>
            <MudButton OnClick="Cancel">Cancel</MudButton>
        </DialogActions>
    </MudDialog>
</div>

@code {
    [CascadingParameter]
    public Error Error { get; set; } = default!;

    [CascadingParameter] MudDialogInstance MudDialog { get; set; } = default!;
    [Parameter] public string deviceId { get; set; } = default!;
    private DeviceCredentials credentials = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await base.OnInitializedAsync();

            credentials = await DeviceClientService.GetEnrollmentCredentials(deviceId);
        }
        catch (ProblemDetailsException exception)
        {
            Error?.ProcessProblemDetails(exception);
            MudDialog.Close();
        }
    }

    private async Task DownloadPemFile()
    {
        var stream = new DotNetStreamReference(stream: new MemoryStream(
            Encoding.UTF8.GetBytes(credentials.CertificateCredentials.CertificatePem)));
        await JS.InvokeVoidAsync("downloadFileFromStream", "certificate.pem", stream);
    }

    private async Task DownloadPublicKeyFile()
    {
        var stream = new DotNetStreamReference(stream: new MemoryStream(
            Encoding.UTF8.GetBytes(credentials.CertificateCredentials.PublicKey)));
        await JS.InvokeVoidAsync("downloadFileFromStream", "key.pub", stream);
    }

    private async Task DownloadPrivateKeyFile()
    {
        var stream = new DotNetStreamReference(stream: new MemoryStream(
            Encoding.UTF8.GetBytes(credentials.CertificateCredentials.PrivateKey)));
        await JS.InvokeVoidAsync("downloadFileFromStream", "key", stream);
    }


    void Cancel() => MudDialog.Cancel();
}
