@page "/lorawan/concentrators"
@using AzureIoTHub.Portal
@using AzureIoTHub.Portal.Models.v10.LoRaWAN
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]
@inject HttpClient Http
@inject IDialogService DialogService
@inject NavigationManager navigationManager

<MudGrid>

    <MudItem xs="12">
        <MudTable ServerData=@LoadItems Dense=true Breakpoint="Breakpoint.Sm" Hover=true Bordered=true Striped=true @ref="table" Loading="@IsLoading">
            <ColGroup>
                <col style="width: 60%;" />
                <col style="width: 10%;" />
                <col style="width: 10%;" />
                <col style="width: 10%;" />
                <col style="width: 10%;" />
            </ColGroup>
            <ToolBarContent>
                <MudText Typo="Typo.h6">LoRaWAN Concentrators</MudText>
                <MudSpacer />
                <MudTooltip Text="Refresh list">
                    <MudIconButton Icon="@Icons.Material.Filled.Refresh" Size="Size.Medium" OnClick="Search" Class="ma-2"></MudIconButton>
                </MudTooltip>
                <MudTooltip Text="Add LoRaWAN concentrator">
                    <MudFab Color="Color.Secondary" Icon="@Icons.Material.Filled.Add" Size="Size.Medium" OnClick="AddDevice" />
                </MudTooltip>
            </ToolBarContent>
            <HeaderContent>
                <MudTh>Device</MudTh>
                <MudTh Style="text-align: center">Allowed</MudTh>
                <MudTh Style="text-align: center">Connection state</MudTh>
                <MudTh Style="text-align: center">See details</MudTh>
                <MudTh Style="text-align: center">Delete</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Device" Style="word-break: break-all;">
                    <a href="lorawan/concentrators/@context.DeviceId">@context.DeviceName</a>
                </MudTd>
                <MudTd DataLabel="Status" Style="text-align: center">
                    @if (context.IsEnabled)
                    {
                        <MudTooltip Text="Concentrator can connect">
                            <MudIcon Icon="@Icons.Filled.CheckCircle" Color="Color.Success" />
                        </MudTooltip>
                    }
                    else
                    {
                        <MudTooltip Text="Concentrator cannot connect">
                            <MudIcon Icon="@Icons.Filled.Error" Color="Color.Default" />
                        </MudTooltip>
                    }
                </MudTd>

                <MudTd DataLabel="Connection" Style="text-align: center">
                    @if (context.IsConnected)
                    {
                        <MudTooltip Text="Concentrator is connected">
                            <MudIcon Icon="@Icons.Filled.Wifi" Color="Color.Success" />
                        </MudTooltip>
                    }
                    else
                    {
                        <MudTooltip Text="Concentrator is not connected">
                            <MudIcon Icon="@Icons.Filled.WifiOff" Color="Color.Error" />
                        </MudTooltip>
                    }
                </MudTd>
                <MudTd DataLabel="Details" Style="text-align: center">
                    <MudTooltip Text="See concentrator details">
                        <a href="lorawan/concentrators/@context.DeviceId"><MudIconButton Icon="@Icons.Filled.Visibility" Color="Color.Default" /></a>
                    </MudTooltip>
                </MudTd>
                <MudTd DataLabel="Delete" Style="text-align: center">
                    <MudTooltip Text="Delete concentrator">
                        <MudIconButton Color="Color.Default" Icon="@Icons.Material.Filled.Delete" Size="Size.Medium" OnClick="@(e => DeleteDevice(context))"></MudIconButton>
                    </MudTooltip>
                </MudTd>
            </RowTemplate>
            <NoRecordsContent>
                <MudText>No matching records found</MudText>
            </NoRecordsContent>
            <LoadingContent>
                <MudText>Loading...</MudText>
            </LoadingContent>
            <PagerContent>
                <MudTablePager />
            </PagerContent>
        </MudTable>
    </MudItem>

</MudGrid>

@code {
    [CascadingParameter]
    public Error Error {get; set;}
    
    private MudTable<Concentrator> table;

    private Dictionary<int, string> Pages { get; set; } = new();

    private bool IsLoading { get; set; } = true;

    private async Task<TableData<Concentrator>> LoadItems(TableState state)
    {
        try
        {
            PaginationResult<Concentrator> result;

            if (Pages.Keys.Contains(state.Page))
            {
                result = await Http.GetFromJsonAsync<PaginationResult<Concentrator>>(Pages[state.Page]);
            }
            else
            {
                var uri = $"api/lorawan/concentrators?pageSize={state.PageSize}";

                _ = Pages.TryAdd(state.Page, uri);

                result = await Http.GetFromJsonAsync<PaginationResult<Concentrator>>(uri);
            }

            _ = Pages.TryAdd(state.Page + 1, result.NextPage);

            IsLoading = false;

            return new TableData<Concentrator>
            {
                Items = result.Items,
                TotalItems = result.TotalItems
            };
        }
        catch (ProblemDetailsException exception)
        {
            Error?.ProcessProblemDetails(exception);
            return new TableData<Concentrator>();
        }
    }

    private void AddDevice()
    {
        navigationManager.NavigateTo("lorawan/concentrators/new");
    }

    private async Task DeleteDevice(Concentrator device)
    {
        var parameters = new DialogParameters {{"deviceId", device.DeviceId}};
        
        var result = await DialogService.Show<DeleteConcentratorPage>("Confirm Deletion", parameters).Result;

        if (result.Cancelled)
        {
            return;
        }

        // Update the list of devices after the deletion
        Search();
    }

    private void Search()
    {
        Pages.Clear();

        table.ReloadServerData();
    }
}
