@page "/devices"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using AzureIoTHub.Portal.Shared
@attribute [Authorize]
@inject HttpClient Http

<MudContainer MaxWidth="MaxWidth.False">
    <MudGrid>
        <MudItem xs="12">


            <MudCard>
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h6">Search panel</MudText>
                    </CardHeaderContent>
                    <CardHeaderActions>
                        <MudButton Variant="Variant.Outlined" Color="Color.Primary" OnClick="Reset">Reset</MudButton>
                        @*<MudIconButton Icon="@Icons.Material.Filled" Color="Color.Default" />*@
                    </CardHeaderActions>
                </MudCardHeader>
                <MudCardContent>
                    <MudGrid>
                        <MudItem xs="12">
                            <MudTextField @bind-Value="searchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                        </MudItem>
                        <MudItem xs="6">
                            <MudText>Status : </MudText>
                            <MudRadioGroup @bind-SelectedOption="@searchStatus1" Style="display:flex;align-items:baseline">
                                <MudItem md="4" sm="12">
                                    <MudRadio Option="@("true")" Color="Color.Primary">Enabled</MudRadio>
                                </MudItem>
                                <MudItem md="4" sm="12">
                                    <MudRadio Option="@("false")" Color="Color.Primary">Disabled</MudRadio>
                                </MudItem>
                                <MudItem md="4" sm="12">
                                    <MudRadio Option="@("")" Color="Color.Secondary">All</MudRadio>
                                </MudItem>
                            </MudRadioGroup>
                            <MudDivider />
                            <MudText>Connection state : </MudText>
                            <MudRadioGroup @bind-SelectedOption="@searchState1" Style="display:flex;align-items:baseline">
                                <MudItem md="4" sm="12">
                                    <MudRadio Option="@("true")" Color="Color.Primary">Connected</MudRadio>
                                </MudItem>
                                <MudItem md="4" sm="12">
                                    <MudRadio Option="@("false")" Color="Color.Primary">Disconnected</MudRadio>
                                </MudItem>
                                <MudItem md="4" sm="12">
                                    <MudRadio Option="@("")" Color="Color.Secondary">All</MudRadio>
                                </MudItem>
                            </MudRadioGroup>
                        </MudItem>

                        <MudItem xs=6>
                            <MudItem xs="12" Class="custom-form">
                                <MudItem md="4" sm="12">
                                    <MudText>Location : </MudText>
                                </MudItem>
                                <MudItem md="8" sm="12">
                                    <MudTextField @bind-Value="searchLocation" Placeholder="Location" Margin="Margin.Dense"></MudTextField>
                                </MudItem>
                            </MudItem>
                            <MudItem xs="12" Style="display:flex;align-items:baseline">
                                <MudItem md="4" sm="12">
                                    <MudText>AppEUI : </MudText>
                                </MudItem>
                                <MudItem md="8" sm="12" Class="custom-form">
                                    <MudTextField @bind-Value="searchAppEUI" Placeholder="AppEUI" Margin="Margin.Dense"></MudTextField>
                                </MudItem>
                            </MudItem>
                            <MudItem xs="12">
                                <MudItem md="4" sm="12">
                                    <MudText>AppKey : </MudText>
                                </MudItem>
                                <MudItem md="8" sm="12">
                                    <MudTextField @bind-Value="searchAppKey" Placeholder="AppKey" Margin="Margin.Dense"></MudTextField>
                                </MudItem>
                            </MudItem>
                        </MudItem>
                    </MudGrid>
                </MudCardContent>
            </MudCard>
        </MudItem>

        <MudItem xs="12">
            <MudTable Items="@result" Dense=true Breakpoint="Breakpoint.Sm" Hover=true Bordered=true Striped=true Filter="new Func<DeviceListItem, bool>(FilterFunc1)">

                <ColGroup>
                    <col style="width: 50%;" />
                    <col style="width: 10%;" />
                    <col style="width: 10%;" />
                    <col style="width: 20%;" />
                    <col style="width: 10%;" />
                </ColGroup>
                <ToolBarContent>
                    <MudText Typo="Typo.h6">Devices</MudText>
                    <MudSpacer />
                </ToolBarContent>
                <HeaderContent>
                    <MudTh>Device</MudTh>
                    <MudTh Style="text-align: center">Status</MudTh>
                    <MudTh Style="text-align: center">Connection state</MudTh>
                    <MudTh Style="text-align: center">Last activity time</MudTh>
                    <MudTh Style="text-align: center">See details</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="Device" Style="word-break: break-all;">
                        <a href="devicedetail/@context.DeviceID">@context.DeviceID</a>
                    </MudTd>

                    <MudTd DataLabel="Status" Style="text-align: center">
                        @if (context.IsEnabled)
                        {
                            <MudIcon Icon="@Icons.Filled.CheckCircle" Color="Color.Success" />
                        }
                        else
                        {
                            <MudIcon Icon="@Icons.Filled.Error" Color="Color.Error" />
                        }
                    </MudTd>
                    <MudTd DataLabel="Connection" Style="text-align: center">
                        @if (context.IsConnected)
                        {
                            <MudIcon Icon="@Icons.Filled.Wifi" Color="Color.Success" />
                        }
                        else
                        {
                            <MudIcon Icon="@Icons.Filled.WifiOff" Color="Color.Error" />
                        }
                    </MudTd>
                    <MudTd DataLabel="LAT" Style="text-align: center">@context.LastActivityDate</MudTd>
                    <MudTd DataLabel="Details" Style="text-align: center">
                        <a href="devicedetail/@context.DeviceID"><MudIcon Icon="@Icons.Filled.Visibility" Color="Color.Default" /></a
                    </MudTd>
                </RowTemplate>
                <PagerContent>
                    <MudTablePager PageSizeOptions="@pageSizeOptions"></MudTablePager>
                </PagerContent>
            </MudTable>
        </MudItem>
    </MudGrid>
</MudContainer>

@code {
    private DeviceListItem[] result;
    private string searchString1 = "";
    private string searchStatus1 = "";
    private string searchState1 = "";
    private string searchLocation = "";
    private string searchAppEUI = "";
    private string searchAppKey = "";


    private int[] pageSizeOptions = new int[] { 2, 5, 10 };

    protected override async Task OnInitializedAsync()
    {
        try
        {
            result = await Http.GetFromJsonAsync<DeviceListItem[]>("Devices");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

    private void Reset()
    {
        searchString1 = "";
        searchStatus1 = "";
        searchState1 = "";
        searchLocation = "";
        searchAppEUI = "";
        searchAppKey = "";

    }

    private bool FilterFunc1(DeviceListItem item) => FilterFunc(item, searchString1, searchStatus1, searchState1);

    private bool FilterFunc(DeviceListItem item, string searchString, string searchStatus, string searchState)
    {
        bool flagName = string.IsNullOrWhiteSpace(searchString) || item.DeviceID.Contains(searchString, StringComparison.OrdinalIgnoreCase);
        bool flagStatus = string.IsNullOrWhiteSpace(searchStatus) || item.IsEnabled.ToString().Contains(searchStatus, StringComparison.OrdinalIgnoreCase);
        bool flagState = string.IsNullOrWhiteSpace(searchState) || item.IsConnected.ToString().Contains(searchState, StringComparison.OrdinalIgnoreCase);
        bool flagLocation = string.IsNullOrWhiteSpace(searchLocation) || item.LocationCode.Contains(searchLocation, StringComparison.OrdinalIgnoreCase);
        bool flagAppEUI = string.IsNullOrWhiteSpace(searchAppEUI) || item.AppEUI.Contains(searchAppEUI, StringComparison.OrdinalIgnoreCase);
        bool flagAppKey = string.IsNullOrWhiteSpace(searchAppKey) || item.AppKey.Contains(searchAppKey, StringComparison.OrdinalIgnoreCase);

        if (flagName && flagStatus && flagState && flagLocation && flagAppEUI && flagAppKey)
            return true;
        return false;
    }
}
