@page "/device-models"
@using AzureIoTHub.Portal.Models.v10
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Net.Http.Json
@using Blazored.Modal
@using Blazored.Modal.Services

@attribute [Authorize]
@inject HttpClient httpClient
@inject NavigationManager navigationManager
@inject PortalSettings Portal
@inject ISnackbar snackBar
@inject IDialogService dialogService

<MudText Typo="Typo.h5" Color="Color.Primary" Class="mb-4">Device Models</MudText>

<MudGrid>
    @if (result == null)
    {
        <MudItem Class="custom-centered-container">
            <MudProgressCircular Class="custom-centered-item" Color="Color.Default" Indeterminate="true" />
        </MudItem>
    }
    else
    {
        <MudItem xs="12">
            <MudTable Items="@result" Dense=true Breakpoint="Breakpoint.Sm" Hover=true Bordered=true Striped=true>
                <ColGroup>
                    <col style="width: 5%;" />
                    <col style="width: 30%;" />
                    <col style="width: 30%;" />
                    <col style="width: 5%;" />
                    <col style="width: 5%;" />
                </ColGroup>
                <ToolBarContent>
                    <MudText Typo="Typo.h6">Device Models</MudText>
                    <MudSpacer />
                    <MudTooltip Text="Refresh list">
                        <MudIconButton Icon="@Icons.Material.Filled.Refresh" Size="Size.Medium" OnClick="LoadDeviceModels" Class="ma-2"></MudIconButton>
                    </MudTooltip>
                    <MudTooltip Text="Add device model">
                        <MudFab Color="Color.Secondary" Icon="@Icons.Material.Filled.Add" Size="Size.Medium" OnClick="AddDeviceModel" />
                    </MudTooltip>
                </ToolBarContent>
                <HeaderContent>
                    <MudTh></MudTh>
                    <MudTh>Name</MudTh>
                    <MudTh Style="text-align: center">Description</MudTh>
                    <MudTh Style="text-align: center">Details</MudTh>
                    <MudTh Style="text-align: center">Delete</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd Style="text-align: center">
                        <img height="25" src="@context.ImageUrl" />
                    </MudTd>
                    <MudTd DataLabel="Name" Style="word-break: break-all;">
                        <a class="detail-link" href=@($"device-models/{@context.ModelId}{((@context.SupportLoRaFeatures && Portal.IsLoRaSupported) ? "?isLora=true": "")}")>@context.Name</a>
                    </MudTd>
                    <MudTd DataLabel="Description" Style="word-break: break-all; ">
                        @context.Description
                    </MudTd>
                    <MudTd DataLabel="Details" Style="text-align: center">
                        <a class="detail-link" href="@($"device-models/{@context.ModelId}{((@context.SupportLoRaFeatures && Portal.IsLoRaSupported) ? "?isLora=true": "")}")">
                            <MudTooltip Text="Delete device model">
                                <MudIconButton Icon="@Icons.Filled.Visibility" Color="Color.Default" />
                            </MudTooltip>
                        </a>
                    </MudTd>
                    <MudTd DataLabel="Delete" Style="text-align: center">
                        <MudTooltip Text="Delete device model">
                            <MudIconButton Color="Color.Default" Disabled="context.IsBuiltin" Icon="@Icons.Material.Filled.Delete" Size="Size.Medium" OnClick="@(e => DeleteDeviceModel(context))"></MudIconButton>
                        </MudTooltip>
                    </MudTd>
                </RowTemplate>
                <PagerContent>
                    <MudTablePager PageSizeOptions="@pageSizeOptions"></MudTablePager>
                </PagerContent>
            </MudTable>
        </MudItem>
    }

</MudGrid>

@code {
    private DeviceModel[] result;
    private int[] pageSizeOptions = new int[] { 2, 5, 10 };

    protected override async Task OnInitializedAsync()
    {
        await LoadDeviceModels();
    }

    private void AddDeviceModel()
    {
        navigationManager.NavigateTo("/device-models/new");
    }

    /// <summary>
    ///  Sends a GET request to the DeviceModelsController, to retrieve all device models from the database
    /// </summary>
    /// <returns></returns>
    private async Task LoadDeviceModels()
    {
        try
        {
            result = await httpClient.GetFromJsonAsync<DeviceModel[]>("api/models");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

    private async Task DeleteDeviceModel(DeviceModel deviceModel)
    {
        var parameters = new DialogParameters();
        parameters.Add("deviceModelID", deviceModel.ModelId);
        parameters.Add("deviceModelName", deviceModel.Name);
        var result = await dialogService.Show<DeleteDeviceModelPage>("Confirm Deletion", parameters).Result;

        if (result.Cancelled)
        {
            return;
        }

        // Update the list of devices after the deletion
        await LoadDeviceModels();
    }
}
