@page "/edge/models/new"
@inherits AuthorizedComponentBase
@using IoTHub.Portal.Client.Validators

@attribute [Authorize]

@inject ISnackbar Snackbar
@inject IDialogService DialogService
@inject NavigationManager NavigationManager
@inject IEdgeModelClientService EdgeModelService
@inject PortalSettings Portal

<AuthorizedContent IsLoading="@IsLoading" IsAuthorized="@IsAuthorized">
    <MudText Typo="Typo.h5" Color="Color.Primary" Class="mb-4">Create Edge Device Model</MudText>

    <MudForm Model="@model" @ref="form" id="form">
        <MudGrid>
            <MudItem xs="12" sm="4" md="3">
                <MudCard>
                    <MudCardContent>
                        <div class="d-flex justify-center mb-4">
                            <MudAvatar Style="height:100px; width: auto; border-radius: 0; background: transparent">
                                <MudImage Src="@imageData" id="model-image" />
                            </MudAvatar>
                        </div>
                    </MudCardContent>
                    <MudCardActions Class="d-flex justify-center">
                        @if (imageData != null)
                        {
                            <MudButton OnClick="DeleteAvatar" id="deleteAvatarBtn" Color="Color.Error">Delete Picture</MudButton>
                        }
                        else
                        {
                            <InputFile id="fileInput" hidden accept=".jpg, .jpeg, .png" OnChange="UploadFiles" />
                            <MudButton HtmlTag="label" for="fileInput" Color="Color.Primary" StartIcon="@Icons.Material.Filled.CloudUpload">Change Picture</MudButton>
                        }
                    </MudCardActions>
                </MudCard>
                <MudItem xs="12" Class="d-flex justify-center py-2 px-1 mt-4">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="isProcessing" OnClick="@(async () => await Save())" id="SaveButton">Save Changes</MudButton>
                </MudItem>
            </MudItem>
            <MudItem xs="12" sm="8" md="9">
                <MudTabs Elevation="1" Rounded="true" PanelClass="mt-6 scrollable-tab-content" id="tabs">
                    <MudTabPanel Text="General">
                        <MudExpansionPanels MultiExpansion="true" id="general">
                            <MudGrid>
                                <MudItem xs="12">
                                    <MudExpansionPanel Text="Details" IsInitiallyExpanded="true">
                                        <TitleContent><MudText Typo="Typo.h6">Details</MudText></TitleContent>
                                        <ChildContent>
                                            <MudGrid>
                                                <MudItem xs="12" md="6">
                                                    <MudTextField id="@nameof(model.Name)" @bind-Value="@model.Name" For="@(() => model.Name)" Label="Name" Margin="Margin.Dense" Variant="Variant.Outlined" Required="true" />
                                                </MudItem>
                                                <MudItem xs="12" md="6">
                                                    <MudTextField id="@nameof(model.Description)" @bind-Value="@model.Description" For="@(() => model.Description)" Label="Description" Variant="Variant.Outlined" Lines="5" />
                                                </MudItem>

                                            </MudGrid>
                                        </ChildContent>
                                    </MudExpansionPanel>
                                </MudItem>
                            </MudGrid>

                            @if (Portal.CloudProvider.Equals(CloudProviders.Azure))
                            {
                                <MudGrid>
                                    <MudItem xs="12">
                                        <MudExpansionPanel Text="System Modules" IsInitiallyExpanded="true">
                                            <TitleContent><MudText Typo="Typo.h6">System Modules</MudText></TitleContent>
                                            <ChildContent>
                                                <MudItem xs="12">
                                                    <MudTable Items="model.SystemModules" Dense=true Hover=true Bordered=true Striped=true Elevation=0>
                                                        <ColGroup>
                                                            <col style="width: 15%;" />
                                                            <col style="width: 50%;" />
                                                            <col style="width: 10%;" />
                                                        </ColGroup>

                                                        <HeaderContent>
                                                            <MudTh Style="text-align: center">Module name</MudTh>
                                                            <MudTh Style="text-align: center">Image URI</MudTh>
                                                            <MudTh Style="text-align: center">Detail</MudTh>
                                                        </HeaderContent>

                                                        <RowTemplate Context="sysModule">
                                                            <MudTd DataLabel="System module Name" Style="word-break: break-all;">
                                                                <MudTextField id=@nameof(EdgeModelSystemModule.Name) @bind-Value="@sysModule.Name" Margin="Margin.Dense" Label="Module name" For="@(() => sysModule.Name)" Variant="Variant.Outlined" Disabled />
                                                            </MudTd>
                                                            <MudTd DataLabel="System module Image URI" Style="word-break: break-all;">
                                                                <MudTextField id=@($"{nameof(EdgeModelSystemModule.Name)}-image") @bind-Value="@sysModule.Image" Margin="Margin.Dense" Label="Image" For="@(() => sysModule.Image)" Variant="Variant.Outlined" />
                                                            </MudTd>
                                                            <MudTd DataLabel="See detail" Style="text-align: center;">
                                                                <MudButton Variant="Variant.Filled" id="@("editSystModuleButton_" + sysModule.Name)" OnClick="@(async () => await ShowSystemModuleDetail(sysModule))">Detail</MudButton>
                                                            </MudTd>
                                                        </RowTemplate>
                                                    </MudTable>
                                                </MudItem>
                                            </ChildContent>
                                        </MudExpansionPanel>
                                    </MudItem>
                                </MudGrid>
                                <MudGrid>
                                    <MudItem xs="12">
                                        <MudExpansionPanel Text="Modules" IsInitiallyExpanded="true">
                                            <TitleContent><MudText Typo="Typo.h6">Modules</MudText></TitleContent>
                                            <ChildContent>
                                                <MudItem xs="12">
                                                    <MudTable Items="@EdgeModules" Dense=true Hover=true Bordered=true Striped=true Elevation=0>
                                                        <ColGroup>
                                                            <col style="width: 30%;" />
                                                            <col style="width: 40%;" />
                                                            <col style="width: 10%;" />
                                                            <col style="width: 5%;" />
                                                        </ColGroup>
                                                        <HeaderContent>
                                                            <MudTh Style="text-align: center">Module name</MudTh>
                                                            <MudTh Style="text-align: center">Image URI</MudTh>
                                                            <MudTh Style="text-align: center">See detail</MudTh>
                                                            <MudTh Style="text-align: center">Delete</MudTh>
                                                        </HeaderContent>
                                                        <RowTemplate Context="moduleContext">
                                                            <MudTd DataLabel="module Name" Style="word-break: break-all;">
                                                                <MudTextField id="@(nameof(IoTEdgeModule.ModuleName))" @bind-Value="@moduleContext.ModuleName" Margin="Margin.Dense" Label="Module name" For="@(() => moduleContext.ModuleName)" Variant="Variant.Outlined" Required="true"></MudTextField>
                                                            </MudTd>
                                                            <MudTd DataLabel="module Image URI" Style="word-break: break-all;">
                                                                <MudTextField id="@(nameof(IoTEdgeModule.Image))" @bind-Value="@moduleContext.Image" Margin="Margin.Dense" Label="Image" For="@(() => moduleContext.Image)" Variant="Variant.Outlined" Required="true" />
                                                            </MudTd>
                                                            <MudTd DataLabel="See detail" Style="text-align: center;">
                                                                <MudButton Variant="Variant.Filled" id="editButton" OnClick="@(async () => await ShowAddEdgeModuleDialog(moduleContext))">Detail</MudButton>
                                                            </MudTd>
                                                            <MudTd DataLabel="Delete" Style="text-align: center">
                                                                <MudIconButton Class="deleteModuleButton" Color="Color.Default" Icon="@Icons.Material.Filled.Delete" Size="Size.Medium" OnClick="@(() => DeleteModule(moduleContext))"></MudIconButton>
                                                            </MudTd>
                                                        </RowTemplate>
                                                        <FooterContent>
                                                            <MudButton StartIcon="@Icons.Material.Filled.Add" Size="Size.Medium" Color="Color.Success" id="addModuleButton" OnClick="AddModule">Add new module</MudButton>
                                                        </FooterContent>
                                                    </MudTable>
                                                </MudItem>
                                            </ChildContent>
                                        </MudExpansionPanel>
                                    </MudItem>
                                </MudGrid>
                                <MudGrid>
                                    <MudItem xs="12">
                                        <MudExpansionPanel Text="Routes" IsInitiallyExpanded="true">
                                            <TitleContent><MudText Typo="Typo.h6">Routes</MudText></TitleContent>
                                            <ChildContent>
                                                <MudItem xs="12">
                                                    <MudTable Items="@model.EdgeRoutes" Dense=true Hover=true Bordered=true Striped=true Elevation=0>
                                                        <ColGroup>
                                                            <col style="width: 20%;" />
                                                            <col style="width: 20%;" />
                                                            <col style="width: 10%;" />
                                                            <col style="width: 10%;" />
                                                            <col style="width: 5%;" />
                                                        </ColGroup>
                                                        <HeaderContent>
                                                            <MudTh Style="text-align: center">Name</MudTh>
                                                            <MudTh Style="text-align: center">Value</MudTh>
                                                            <MudTh Style="text-align: center">Priority</MudTh>
                                                            <MudTh Style="text-align: center">Time To Live (Secs)</MudTh>
                                                            <MudTh Style="text-align: center">Delete</MudTh>
                                                        </HeaderContent>
                                                        <RowTemplate Context="routeContext">
                                                            <MudTd DataLabel="Name" Style="word-break: break-all;">
                                                                <MudTextField id="@(nameof(IoTEdgeRoute.Name))" @bind-Value="@routeContext.Name" Margin="Margin.Dense" Label="Name" For="@(() => routeContext.Name)" Variant="Variant.Outlined" Required="true"></MudTextField>
                                                            </MudTd>
                                                            <MudTd DataLabel="Value" Style="word-break: break-all;">
                                                                <MudTextField id="@(nameof(IoTEdgeRoute.Value))" @bind-Value="@routeContext.Value" Margin="Margin.Dense" Label="Value" For="@(() => routeContext.Value)" Variant="Variant.Outlined" Required="true" />
                                                            </MudTd>
                                                            <MudTd DataLabel="Priority" Style="text-align: center;">
                                                                <MudNumericField @bind-Value="@routeContext.Priority" Label="Priority" For="@(() => routeContext.Priority)" Variant="Variant.Outlined"></MudNumericField>
                                                            </MudTd>
                                                            <MudTd DataLabel="Time To Live (Secs)" Style="text-align: center;">
                                                                <MudNumericField @bind-Value="@routeContext.TimeToLive" Label="TTL" For="@(() => routeContext.TimeToLive)" Variant="Variant.Outlined"></MudNumericField>
                                                            </MudTd>
                                                            <MudTd DataLabel="Delete" Style="text-align: center">
                                                                <MudIconButton Color="Color.Default" Class="deleteRouteButton" OnClick="(() => DeleteRoute(routeContext))" Icon="@Icons.Material.Filled.Delete" Size="Size.Medium"></MudIconButton>
                                                            </MudTd>
                                                        </RowTemplate>
                                                        <FooterContent>
                                                            <MudButton StartIcon="@Icons.Material.Filled.Add" Size="Size.Medium" id="addRouteButton" OnClick="AddRoute" Color="Color.Success">Add new route</MudButton>
                                                        </FooterContent>
                                                    </MudTable>
                                                </MudItem>
                                            </ChildContent>
                                        </MudExpansionPanel>
                                    </MudItem>
                                </MudGrid>
                            }
                            @if (Portal.CloudProvider.Equals(CloudProviders.Aws))
                            {
                                <MudGrid>
                                    <MudItem xs="12">
                                        <MudExpansionPanel Text="Modules" IsInitiallyExpanded="true">
                                            <TitleContent><MudText Typo="Typo.h6">Modules</MudText></TitleContent>
                                            <ChildContent>
                                                <MudItem xs="12">
                                                    <MudTable Items="@EdgeModules" Dense=true Hover=true Bordered=true Striped=true Elevation=0>
                                                        <ColGroup>
                                                            <col style="width: 70%;" />
                                                            <col style="width: 10%;" />
                                                            <col style="width: 5%;" />
                                                        </ColGroup>
                                                        <HeaderContent>
                                                            <MudTh Style="text-align: center">Module name</MudTh>
                                                            <MudTh Style="text-align: center">See detail</MudTh>
                                                            <MudTh Style="text-align: center">Delete</MudTh>
                                                        </HeaderContent>
                                                        <RowTemplate Context="moduleContext">
                                                            <MudTd DataLabel="module Name" Style="word-break: break-all;">
                                                                @moduleContext.ModuleName
                                                            </MudTd>
                                                            <MudTd DataLabel="See detail" Style="text-align: center;">
                                                                <MudButton Variant="Variant.Filled" id="edit-edge-module" Disabled="@(!string.IsNullOrEmpty(moduleContext.Id))" OnClick="@(async () => await ShowAddEdgeModuleDialog(moduleContext))">Detail</MudButton>
                                                            </MudTd>
                                                            <MudTd DataLabel="Delete" Style="text-align: center">
                                                                <MudIconButton Class="deleteModuleButton" Color="Color.Default" Icon="@Icons.Material.Filled.Delete" Size="Size.Medium" OnClick="@(() => DeleteModule(moduleContext))"></MudIconButton>
                                                            </MudTd>
                                                        </RowTemplate>
                                                        <FooterContent>
                                                            <MudButton StartIcon="@Icons.Material.Filled.Add" Size="Size.Medium" Color="Color.Success" id="add-edge-module" OnClick="ShowAddNewEdgeModuleDialog">Add new module</MudButton>
                                                            <MudButton StartIcon="@Icons.Material.Filled.Add" Size="Size.Medium" Color="Color.Success" id="add-public-edge-modules" OnClick="ShowAddEdgePublicModulesDialog">Add public modules</MudButton>
                                                        </FooterContent>
                                                    </MudTable>
                                                </MudItem>
                                            </ChildContent>
                                        </MudExpansionPanel>
                                    </MudItem>
                                </MudGrid>
                            }
                            <MudGrid>
                                <MudItem xs="12">
                                    <MudExpansionPanel Text="Labels">
                                        <TitleContent><MudText Typo="Typo.h6">Labels</MudText></TitleContent>
                                        <ChildContent>
                                            <LabelsEditor Labels="model.Labels" />
                                        </ChildContent>
                                    </MudExpansionPanel>
                                </MudItem>
                            </MudGrid>

                        </MudExpansionPanels>
                    </MudTabPanel>

                </MudTabs>
            </MudItem>
        </MudGrid>
    </MudForm>
</AuthorizedContent>

@code {
    protected override PortalPermissions[] RequiredPermissions { get; } = { PortalPermissions.EdgeModelWrite };

    [CascadingParameter]
    public Error Error { get; set; } = default!;

    public List<IoTEdgeModule> EdgeModules { get; } = new();

    public EdgeModelValidator EdgeModelValidator = new EdgeModelValidator();
    public IoTEdgeModuleValidator EdgeModuleValidator = new IoTEdgeModuleValidator();
    public IoTEdgeRouteValidator EdgeRouteValidator = new IoTEdgeRouteValidator();

    private MudForm form = default!;
    private bool isProcessing;

    private IoTEdgeModel model = new()
    {
        ModelId = Guid.NewGuid().ToString()
    };

    // Used to manage the picture
    private string? imageData = default!;

    private void DeleteAvatar()
    {
        imageData = null;
    }

    private async Task UploadFiles(InputFileChangeEventArgs e)
    {
        var resizedImageFile = await e.File.RequestImageFileAsync(e.File.ContentType, 200, 200);
        var buffer = new byte[resizedImageFile.Size];
        await resizedImageFile.OpenReadStream().ReadAsync(buffer);

        imageData = $"data:{e.File.ContentType};base64,{Convert.ToBase64String(buffer)}";
    }

    private void AddModule()
    {
        EdgeModules.Add(new IoTEdgeModule());
    }

    private async Task ShowAddEdgePublicModulesDialog()
    {
        var parameters = new DialogParameters();
        parameters.Add("EdgeModules", EdgeModules);

        DialogOptions options = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = true, CloseButton = true };

        await DialogService.Show<AwsGreengrassPublicComponentsDialog>(string.Empty, parameters, options).Result;

        await InvokeAsync(StateHasChanged);
    }

    private async Task ShowAddEdgeModuleDialog(IoTEdgeModule module)
    {
        var parameters = new DialogParameters();

        DialogOptions options = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = true, CloseButton = true };

        if (Portal.CloudProvider.Equals(CloudProviders.Azure))
        {
            if (!string.IsNullOrWhiteSpace(module.ModuleName))
            {

                parameters.Add("module", module);
                await DialogService.Show<ModuleDialog>(module.ModuleName, parameters, options).Result;
            }
        }
        else
        {
            parameters.Add("Context", Context.Edit);
            parameters.Add("Module", module);

            await DialogService.Show<AwsGreengrassComponentDialog>(module.ModuleName, parameters, options).Result;
        }
    }

    private async Task ShowAddNewEdgeModuleDialog()
    {
        var parameters = new DialogParameters();

        DialogOptions options = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = true, CloseButton = true };

        parameters.Add("Context", Context.Create);
        parameters.Add("EdgeModules", EdgeModules);

        await DialogService.Show<AwsGreengrassComponentDialog>(string.Empty, parameters, options).Result;
    }

    private async Task ShowSystemModuleDetail(EdgeModelSystemModule systemModule)
    {
        var parameters = new DialogParameters();
        parameters.Add("module", systemModule);

        DialogOptions options = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = true, CloseButton = true };

        var result = await DialogService.Show<SystemModuleDialog>(systemModule.Name, parameters, options).Result;

        if (result.Canceled)
        {
            return;
        }
    }

    private async Task Save()
    {
        isProcessing = true;

        // Displays validation error message for each field
        await form.Validate();

        if (!EdgeModelValidator.Validate(model).IsValid)
        {
            Snackbar.Add("One or more validation errors occurred", Severity.Error);

            isProcessing = false;

            return;
        }

        if (EdgeModules.Any() && !EdgeModuleValidator.Validate(EdgeModules).IsValid)
        {
            Snackbar.Add("One or more validation errors occurred with the module.", Severity.Error);

            isProcessing = false;

            return;
        }

        if (model.EdgeRoutes.Any() && !EdgeRouteValidator.Validate(model.EdgeRoutes).IsValid)
        {

            Snackbar.Add("One or more validation errors occured with the routes.", Severity.Error);

            isProcessing = false;

            return;
        }

        try
        {
            model.EdgeModules = EdgeModules;

            await EdgeModelService.CreateIoTEdgeModel(model);

            if (imageData is not null)
            {
                var imageContent = new StringContent(imageData);
                await EdgeModelService.ChangeAvatar(model.ModelId, imageContent);
            }

            Snackbar.Add("Device model successfully created.", Severity.Success);
            NavigationManager.NavigateTo("/edge/models");
        }
        catch (ProblemDetailsException exception)
        {
            Error?.ProcessProblemDetails(exception);
        }
        finally
        {
            isProcessing = false;
        }
    }

    private void DeleteModule(IoTEdgeModule module)
    {
        EdgeModules.Remove(module);
    }

    private void DeleteRoute(IoTEdgeRoute route)
    {
        model.EdgeRoutes.Remove(route);
    }

    private void AddRoute()
    {
        var last = model.EdgeRoutes.LastOrDefault();

        if (model.EdgeRoutes.Count == 0 || (last?.Name is not null && last?.Value is not null))
        {
            model.EdgeRoutes.Add(new IoTEdgeRoute());
        }
    }
}
